<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bp.auction.server.dal.mapper.AuctionHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bp.auction.common.dal.entity.AuctionHistory">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="delete_flag" property="deleteFlag" />
        <result column="auction_id" property="auctionId" />
        <result column="user_id" property="userId" />
        <result column="nickname" property="nickname" />
        <result column="head_img" property="headImg" />
        <result column="vip_level" property="vipLevel" />
        <result column="auction_fee" property="auctionFee" />
        <result column="before_price" property="beforePrice" />
        <result column="after_price" property="afterPrice" />
        <result column="operate_type" property="operateType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        delete_flag,
        auction_id, user_id, nickname, head_img, vip_level, auction_fee, before_price, after_price, operate_type
    </sql>

    <sql id="auctionHistoryColumns">
		t.id,
		t.auction_id,
		t.user_id,
		t.nickname,
		t.head_img,
		t.vip_level,
		t.auction_fee,
		t.before_price,
		t.after_price,
		t.operate_type,
		t.create_time,
		t.update_time,
		t.delete_flag
	</sql>

    <sql id="auctionHistoryWhere">
		t.delete_flag = #{DEL_FLAG_NORMAL}
	</sql>

    <sql id="auctionHistoryJoins">
    </sql>

<!--    <select id="get" resultType="AuctionHistory">
        SELECT <include refid="auctionHistoryColumns"/> FROM auction_history t WHERE id = #{id}
    </select>
    <select id="findList" resultType="AuctionHistory">
        SELECT <include refid="auctionHistoryColumns"/> FROM auction_history t <include refid="auctionHistoryJoins"/>
        WHERE <include refid="auctionHistoryWhere"/> ORDER BY id desc LIMIT #{start}, #{length}
    </select>
    <select id="count" resultType="long">
        SELECT COUNT(*) FROM auction_history t WHERE <include refid="auctionHistoryWhere" />
    </select>-->

    <insert id="insert">
		INSERT INTO auction_history (
			id,
			auction_id,
			user_id,
			nickname,
			head_img,
			vip_level,
			auction_fee,
			before_price,
			after_price,
			operate_type,
			create_time,
			delete_flag
		) VALUES (
			#{id},
			#{auctionId},
			#{userId},
			#{nickname},
			#{headImg},
			#{vipLevel},
			#{auctionFee},
			#{beforePrice},
			#{afterPrice},
			#{operateType},
			#{createTime},
			#{deleteFlag}
		)
	</insert>

    <update id="update">
		UPDATE auction_history SET
			auction_id = #{auctionId},
			user_id = #{userId},
			nickname = #{nickname},
			head_img = #{headImg},
			vip_level = #{vipLevel},
			auction_fee = #{auctionFee},
			before_price = #{beforePrice},
			after_price = #{afterPrice},
			operate_type=#{operateType},
			delete_flag = #{deleteFlag}
		WHERE id = #{id}
	</update>

    <delete id="delete">
		UPDATE auction_history SET delete_flag = 1 WHERE ID = #{id}
	</delete>

	<select id="getByAuctionId" resultType="com.bp.auction.common.dal.entity.AuctionHistory">
		SELECT <include refid="auctionHistoryColumns"/> FROM auction_history t WHERE auction_id = #{auctionId}
		ORDER BY after_price DESC limit #{num}
	</select>
</mapper>
