<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bp.auction.server.dal.mapper.CategoryGoodsMapper">

    <sql id="categoryGoodsColumns">
        t.id ,
        t.category_id ,
        t.goods_id ,
        t.sort ,
        t.create_time ,
        t.update_time ,
        t.delete_flag
    </sql>
    <!--查询某个类目下的商品列表-->
    <select id="listGoods" resultType="CategoryGoods">
        select
        <include refid="categoryGoodsColumns"/>
        from category_goods t
        where t.category_id=#{categoryId} order by t.sort desc
    </select>
</mapper>
