<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bp.auction.admin.dal.mapper.BeginnerGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bp.auction.common.dal.entity.BeginnerGoods">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="delete_flag" property="deleteFlag" />
        <result column="name" property="name" />
        <result column="default_image" property="defaultImage" />
        <result column="market_price" property="marketPrice" />
        <result column="start_price" property="startPrice" />
        <result column="auction_fee" property="auctionFee" />
        <result column="auction_fee_price" property="auctionFeePrice" />
        <result column="plat_product_id" property="platProductId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        delete_flag,
        name, default_image, market_price, start_price, auction_fee, auction_fee_price, plat_product_id
    </sql>

    <select id="getAll" resultType="BeginnerGoods">
        SELECT <include refid="Base_Column_List"/> FROM beginner_goods t WHERE delete_flag = 0
    </select>

</mapper>
